{% load static %}

{% include '../Partials/header.html' %}

<body>
    
    <!-- Topbar Start -->
    {% include '../Partials/topbar.html' %}
    <!-- Topbar End -->

    <div class="navbar-small">
        {% include '../Partials/Detail/navbar.html' %}
    </div>  

    <!-- All Categories Start -->
    <div class="shadow-none d-flex align-items-center justify-content-between bg-primary text-white w-100"style="height: 65px; margin-top: -1px; padding: 0 30px;">
        <h4 class="m-0">Tüm Kategoriler</h4>
    </div>
        <div class="col-lg-2 d-lg-block">
            <nav class="collapse show navbar navbar-vertical navbar-light align-items-start p-0 border border-top-0 border-bottom-0" id="navbar-vertical">
                <div class="navbar-nav w-100 overflow-hidden" style="height: 100%;" id="category-list">
                    {% for category in categories %}
                    <a href="{% url 'productsPage' category.slug %}" class="nav-item nav-link" id="category-item">{{category.name}}</a>
                    {% endfor %}
                </div>
            </nav>
        </div>
    <!-- All Categories End -->


    <!-- Footer Start -->
    {% include '../Partials/footer.html' %}
    <!-- Footer End -->

    <script>
        document.getElementById("navbar-small1").style.display='none';
    </script>

</body></html>