{% load static %}

{% include '../Partials/header.html' %}

<body>
    <!-- Topbar Start -->
    {% include '../Partials/topbar.html' %}
    <!-- Topbar End -->


    <!-- Navbar Start -->
    {% include '../Partials/Index/navbar.html' %}
    <!-- Navbar End -->


    <!-- Categories Start -->
    {% include '../Partials/Index/categories.html' %}
    <!-- Categories End -->


    <!-- Offer Start -->
    {% include '../Partials/Index/offer.html' %}
    <!-- Offer End -->


    <!-- Products Start -->
    {% include '../Partials/Index/products.html' %}
    <!-- Products End -->


    <!-- Subscribe Start -->
    {% include '../Partials/Index/subscribe.html' %}
    <!-- Subscribe End -->


    <!-- Products Start -->
    {% include '../Partials/Index/products1.html' %}
    <!-- Products End -->


    <!-- Vendor Start -->
    {% include '../Partials/Index/vendor.html' %}
    <!-- Vendor End -->
    

    <!-- Footer Start -->
    {% include '../Partials/footer.html' %}
    <!-- Footer End -->

</body></html>